*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{list-style-type: none;}
a{
    text-decoration: none;
}

.header-slides{
    background-color: #ffff2a;
    height: 50px;
}
.header-slides>ul{
    width: 95%;
    margin: auto;
}
.header-slides>ul>li{padding: 0;}
.header-slides img{
    width: 100%;
    height: 50px;
}

/* header  */
.header-top{
    background-color: #000000;
}
.nav-container a{color:#fff}
.nav-container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 43px;
}
.nav-container a{font-size: 11px;}
.header-logo{
    flex-basis: 10%;
}
.header-logo img{width: 100%;}
.header_address{
    flex-basis: 10%;
    margin-left: 10px;
}
.col{
    height: 43px; 
    width: 1px; 
    background-color: #fff;
    margin-left: 10px;
}
.header_address span{display: inline-block;}
.dropdown{color:#ffff2a; position: relative; padding-right: 15px;}
.dropdown::after{
    position: absolute;
    content: "";
    border-top: 5px solid #ffff2a;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: 44%;
    left: 80%;
}
.dropdown.rotate::after {
    transform: rotate(-180deg);
    top: 30%;
}


.header_search{
    flex-basis: 30%;
    position: relative;
}
.ipt_search{
    height: 30px;
    width: 100%;
    border-radius: 8px;
    padding: 5px 35px 5px 7px ;
    font-size: 14px;
}
.btnSearch{
    position: absolute;
    height: 30px;
    right: 0;
    width: 30px;
    border:none;
    background-color: transparent;
    font-size: 22px;
    padding-top: 3px;
}

.header_cart{
    flex-basis: 8%;
    margin-left: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2px 6px;
    transition: .5s background-color;
}
.header_cart a{display: flex; align-items: center; justify-content: space-around;}
.header_cart p{
    display: inline-block;
}
.bx.bx-cart-alt{    font-size: 20px;}
.header_cart:hover{background-color: #ccc;}

.header_history{
    flex-basis: 4%;
    margin-left: 10px;
    text-align: center;
}
.yell:hover{color:#ffff2a}

.header_hot{
    margin-left: 10px;
    flex:1;
}


p.dot_parent {
    flex-basis: 11px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ffff2d;
    border-radius: 100%;
    position: relative;
}
.header_hot .dot {
    height: 20px;
    width: 20px;
    border:1px solid #ffff2a;
    background-color: transparent;
    display: inline-block;
    border-radius: 50%;
    animation: dot 2s infinite;
    position: absolute;
    top: -6px;
    left: -6px;
}
@keyframes dot{
    0%{transform: scale(0); opacity: 1;};
    100%{transform: scale(100); opacity: 0;}
}
li.header_hot a {
    display: flex;
    align-items: center;
}
.hot_title {
    margin-left: 10px;
    font-size: 12px;
    color:#ffff2a;
}
.header-menu {
    display: flex;
    flex-basis: 18%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.header-menu span{display: block;}

/* header bottom */
.header-bottom{background-color: #ffff2a;}

.navbar ul{
    width: 95%; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar>ul>li{flex:content; position: relative; padding: 14px 0; text-align: center;}
.navbar ul>li>a{color:#000000; font-size: 14px; display: flex; align-items: center; justify-content: center;}
.navbar li i.fa{font-size: 20px; margin-right: 5px;}
.navbar li:hover{ background-color: #fff;}
.dropdown-1 span{padding-right: 10px;}
.dropdown-1 span::after{
    content: '';
    border-top:6px solid #000000;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    display: inline-block;
    margin-left:5px;
}
.pk-nav, .pc_nav{
    display: none;
    position: absolute;
    top:49px;
    border:1px solid #000;
    border-radius: 5px;
    text-align: left;
    padding: 10px 15px;
    width: 700px;
    background-color: #fff;
    z-index: 10;
}

.pk-nav>.container{display: flex;}
.pk-nav-left{flex-basis:30%;}
.title{
    margin-bottom: 10px;
    padding-bottom:5px;
    border-bottom: 1px solid #ccc;
}
.list-items>.item{margin-bottom: 5px;}
.list-items>.item>a{color: #000;}
.list-items>.item:hover a{color:aqua}
.pk-nav-center{flex-basis: 30%;
    margin-left:10px;
}
.center-tbat, .center-tblt{margin-top: 10px;}

.pk-nav-right {
    flex-basis: 38%;
    margin-left: 10px;
}
.right-pkk {
    margin-top: 30px;
}
a.more {
    position: absolute;
    right: 0;
}
.more>span{display: flex;
    align-items: center;
    }
.more>span::after{
    content: '';
    border-left: 6px solid #4A90E2;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    display: inline-block;
}
.pk:hover .pk-nav{display: block;}

.pc_nav{
   width: 180px;
}
.pc_mayin:hover .pc_nav{display: block;}

.gift{
    position: absolute;
    font-size: 8px;
    top: 2px;
    border: 1px solid #f20c0c;
    background-color: #f20c0c;
    border-radius: 4px;
    padding: 1px 7px;
    color: #fff;
    right: 0;
}
.gift::after{
    content: '';
    border-top:5px solid #f20c0c;
    border-left:5px solid transparent ;
    border-right:5px solid transparent ;
    position: absolute;
    bottom: -6px;
    left: 3px;
}

/* form address */
.form-address{
    display: none;
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 13;
}
.form{
    width: 480px;
    margin: 150px auto 0;
    border:1px solid #000;
    border-radius: 5px;
    padding: 20px 25px;
    background: #fff;
    font-size: 14px;
}
.form-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.form-top>h3{
    flex:1;
    text-align: center;
}
.form-top>.closebtn-form{
    flex-basis: content;
    font-size: 14px;
    padding: 5px 6px;
    border-radius: 4px;
    background: #fff;
}
.form-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-bottom>p, .form-bottom>input{
    margin-bottom: 10px;
}
.form-bottom>input{
    height: 30px;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    border:0.5px solid #000;
}
.form-bottom>button{
    width: 90%;
    margin: auto;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ffff2a;
}
.form-address button{cursor: pointer;}
/* main body */
.body{
    width: 92%;
    margin:30px auto 0;
}
.banner-main{
    display: flex;
}
.banner-slides{
    flex-basis: 830px;
}
.slides{position: relative;z-index: 0;}
.slides>.slide-image>.slide-item{display: none;}
.slides img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
    z-index: 0;
}
.slide-image:hover ~ a{display: block;}
.prev:hover, .next:hover{display: block;}
.prev,.next{
    top:50%;
    position: absolute;
    border:1px solid #fff;
    padding: 5px 6px;
    background-color: #fff;
    font-size: 30px;
    border-radius: 0 4px 4px 0;
    transform: translateY(-50%);
    display: none;
    color: #000;
    cursor: pointer;
}
.next{
    right:0;
    border-radius:4px 0 0 4px ;
}

.dot-control{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: -3px;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 0 0 4px 4px;
    padding: 5px 0px 5px 6px;
}
.dot-slide{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    padding-left: 5px;
}
.dot-slide:last-child{
    border: none;
}
.dot-slide.active{font-weight: bold;}        66t buhuuj7ju7j7j78j7875785877786787576767644767766666666667767667j67jjjjjj

.banner-right{
    flex: 1;
}
.banner-right img{width: 100%; border-radius: 4px;}
.banner-right .banner-right-box{display: flex;}
.banner-right-box a{padding-left: 12px;}
.banner-right .banner-right-box:last-child{margin-top: 13px;}